.panel-heading{
    background-color: #337ab7 !important;
    color: white !important;
}

.header{
    background-color: #337ab7 !important;
    padding: 10px;
    font-size: 10px;
    font-size: 16pt;
    color: #e8e8e8 !important;
}
