<div class="container" ng-app="presenceApp" ng-controller="UnidadeCurricularController as uc">
    <h1>Presence App</h1>

    <div class="alert alert-danger" ng-show="uc.error">{{ uc.error }}</div>
    <div class="alert alert-success" ng-show="uc.success">{{ uc.success }}</div>

    <h2>Registered Unidade Curriculares</h2>
    <div ng-if="uc.loading">
        <p>Loading disciplines...</p>
    </div>

    <table class="table table-striped" ng-if="!uc.loading && uc.disciplinas.length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Docente</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="disciplina in uc.disciplinas">
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.docente.nome }}</td>
        </tr>
        </tbody>
    </table>

    <div ng-if="!uc.loading && uc.disciplinas.length === 0">
        <p>No disciplines registered yet.</p>
    </div>
</div>
